<div class="row">
  <div class="column">
    <div class="div">
      <p>Kerridge Commercial Systems (KCS) is a global business with over 40 years of experience. We offer ERP and business management systems to the distribution, wholesale, retail, plant, tool and equipment hire industries. Our headquarters are based in the UK and we continue to grow both locally and internationally.</p>
    </div>
  </div>
  <div class="column">
    <img src="assets/images/40yrs.png" alt="40 Years of Software Innovation at Kerridge Commercial Systems">
  </div>
</div>

