form input[type="email"],
form input[type="submit"],
form input[type="tel"],
form input[type="text"],
form textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="submit"]:hover {
  border-radius: 6px;
}

@media (max-width: 552px) {
  form {
    width: 75%;
  }
}