<header>
  <nav>
    <a routerLink="/" routerLinkActive="active">
      <img src="assets/images/kcs_logo_211_x_95_white_bg.png" alt="kcs logo">
    </a>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active-link': router.isActive('/', true)}">Home</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" [ngClass]="{'active-link': router.isActive('/contact', false)}">Contact</a></li>
      <li><a routerLink="/jobs" routerLinkActive="active" [ngClass]="{'active-link': router.isActive('/jobs', false)}">Jobs</a></li>
    </ul>
  </nav>
</header>