<div>
  <h2>Careers at Kerridge CS!</h2>
  <p>Kerridge Commercial Systems (KCS) is a global business with over 40 years of experience. We offer ERP and business management systems to the distribution, wholesale, retail, plant, tool and equipment hire industries. Our headquarters are based in the UK and we continue to grow both locally and internationally.</p>
  <p>Kerridge Commercial Solutions desires for only appropriate candidates to apply for the appropriate positions. By taking this online form, applicants will be able to filter out any unsuitable roles, saving both applicants' and KCS's time.</p>
</div>
<div class="pink-styling">
  <h2>Alternative</h2>
  <p>Send your CV to <a href="mailto:global.TA@kerridgecs.com" target="_blank">global.TA@kerridgecs.com</a> with an email telling us about yourself, what you are looking for and what your interests are. Or visit our careers site for more information on our current roles.</p>
</div>