<h1>Welcome to Kerridge Commercial Systems</h1>
<app-home-intro></app-home-intro>
<div class="row">
  <div class="column">
    <div class="container">
      <h2>Our Values</h2>
      <p>At KCS, we have a defined set of values identifying our culture. These values were developed as a group effort, with our employee’s ideas and feedback. They tell you what we think is important, support us in our decision making processes, and aid in building recruitment and retention tools to attract and retain the right people.</p>
    </div>
  </div>
  <div class="column">
    <app-carousel></app-carousel>
  </div>
</div>