<div class="vcard">
  <h2>Kerridge Commercial Systems</h2>
  <ul>
    <li>Unit 2A Herongate</li>
    <li>Charnham Park</li>
    <li>Hungerford</li>
    <li>Berkshire RG17 0YU</li>
    <li>United Kingdom</li>
    <li>Call us: <a href="tel:+441488662000">+44(0) 1488 662000</a></li>
    <li>Email us: <a href="mailto:hello@kerridgecs.com">hello@kerridgecs.com</a></li>
  </ul>
  <p>To log a support call, please visit our <a href="https://customerportal.kerridgecs.com">customer portal.</a></p>  
</div>
