<p>Additional principles include:</p>
<ul>
  <li><p>The development and delivery of software solutions with consideration for the impact on our environment and seeking to promote sustainable business practices.</p></li>
  <li><p>The reduction of internal waste, such as paper, and leveraging technology to remove the need to print and store paper.</p></li>
  <li><p>The provision of online training and remote consultancy services to our customers to reduce unnecessary travel and our carbon footprint.</p></li>
  <li><p>The reduction of waste and encouraging all to recycle where possible.</p></li>
</ul>
